table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th {
    color: red;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
tr:nth-child() {
    background-color: #dddddd;
}
.wufoo {
font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
}
ul{
    font-weight: bolder;
    font-size: 30px;
}
ol{
    padding-left: 50px;
    font-weight: bold;
}
input
{
    text-align: center;
}