body {
    max-height: 100vh;
}

p {
    font-size: 20px;
}

#countDown {
    border: 2px solid white;
    width: 7%;
    color: white;
    font-size: 3em;
    text-align: center;
    border-radius: 1em;
    margin-left: 20px;
}

.nav {
    width: 25%;
    float: left;
    border-radius: 5px;
    position: relative;
}

.content {
    width: 75%;
    float: left;
    min-height: 600px;
    max-height: 100vh;
}

.header {
    height: 30px;
}

.container {
    width: 100%;
    max-height: 100vh;
}

.content__card {
    border: 3px solid #fff;
    border-radius: 999px;
    padding: 1rem;
    background: rgb(14, 14, 180);
    color: #fff;
    font-weight: 600;
}

.content__question {
    display: none;
}

#question {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 8px;
}

#answer-all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
}

.nav .help {
    height: 50px;
}

.help {
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
}

.help__icon {
    width: 60px;
    max-height: 43.75px;
    margin-left: 20px;
}

.help__icon img {
    cursor: pointer;
    width: 60px;
    max-height: 43.75px;
}

.help__icon .still:hover {
    transform: scale(0.5);
}

.money {
    font-family: "Josefin Sans", sans-serif;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
}

.submit-answer {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    opacity: 0;
}

.submit-answer button {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

.money__card {
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    color: orange;
    font-weight: bolder;
    margin-left: 1rem;
    margin-top: 0.1rem;
}

.money__save-point {
    color: #fff;
}

.money__card span:first-child {
    display: inline-block;
}

.money__card .money__icon {
    padding: 0 0.1rem;
    color: #fff;
    visibility: hidden;
}


/* .money__current {
    border: 1px solid #000;
    border-radius: 1rem;
    color: #000;
    background-color: orange;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
} */

.money__current .money__icon {
    text-shadow: 0 0 10px #fff, 0 0 5px #000;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    background-color: #35f3a4;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    text-align: center;
    display: none;
}

.modal-title {
    font-size: 1.8rem;
    position: relative;
    margin-bottom: 1rem;
}

.modal-title::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 5rem;
    height: 2px;
    background-color: #000;
}

.modal-body p {
    font-size: 1.5rem;
}

.modal-footer {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-evenly;
}

.modal-footer .btn {
    display: block;
    padding: 0.3rem;
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    #answer-all {
        grid-template-columns: 1fr;
    }
    .middle {
        flex-direction: column;
        margin-top: 300px;
    }
}

@media screen and (max-width: 400px) {
    .menu-wrap {
        border-radius: 0;
    }
    .money {
        grid-template-columns: repeat(2, 1fr);
    }
}

.btn-grad {
    background-image: linear-gradient(to right, #f85032 0%, #e73827 51%, #f85032 100%)
}

.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}